
.make-bold {
    font-weight: 700;
    font-size: 20px;

}

.pdc-price {
    margin: 10px 0;
}
.pdc-price-unit {
    background: #eee;
    padding: 6px;
    border-radius: 4px;
}
#status-infor-product {
    
    padding: 7px;
    border-radius: 4px;
    color: #fff;
}

.con-hang {
    background: #27ae60;
}
.het-hang {
    background: #e74c3c;
}

.buynow {
    border: none;
    border-radius: 4px;
    padding: 10px;
}